.count {
  display: flex;
  justify-content: flex-end;
  margin-left: 68vw;
  margin-top: 2vw;
  margin-right: 10vw;
  font-size: 1.95rem;
  border-radius: 3px;
  padding: 1rem;
  background-color: black;
  color: aliceblue;
}
